[Desktop Entry]
Type=Application
Name=Snask Store
Comment=Instalador de pacotes do Snask
Exec=snask-store
Icon=snask-store
Terminal=false
Categories=Development;Utility;
StartupNotify=true

